<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hangxingliu.open-in-vscode-workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0F3BE3C6-71FB-4B75-AE97-2CFADAAA883A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13430A14-AADC-42EC-986C-9F8DD6A4B626</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DAF3DF3-7B04-4679-AD1D-156D2CC288C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13430A14-AADC-42EC-986C-9F8DD6A4B626</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Liu Yue &lt;hangxingliu@gmail.com&gt;</string>
	<key>description</key>
	<string>This workflow searchs projects on the disk. And you can click to open the project in Visual Studio Code after click them.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Visual Studio Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./open.bash</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13430A14-AADC-42EC-986C-9F8DD6A4B626</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:config_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./search.bash</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8DAF3DF3-7B04-4679-AD1D-156D2CC288C1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open in Visual Studio Code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>0F3BE3C6-71FB-4B75-AE97-2CFADAAA883A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Open in Visual Studio Code

![A screenshot of this workflow](./screenshot1.png)

This workflow provide a shortcut to search and open your projects in Visual Studio Code (or other editor you like)

This workflow can search your project from following places:

- Local directories
- Visual Studio Code workspace history (recent opened workspaces)

## Setup

## Migration from Previous Version

## Usage</string>
	<key>uidata</key>
	<dict>
		<key>0F3BE3C6-71FB-4B75-AE97-2CFADAAA883A</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>13430A14-AADC-42EC-986C-9F8DD6A4B626</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>8DAF3DF3-7B04-4679-AD1D-156D2CC288C1</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>code</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>config_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>code</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Visual Studio Code</string>
						<string>code</string>
					</array>
					<array>
						<string>Visual Studio Code Insiders</string>
						<string>code-insiders</string>
					</array>
					<array>
						<string>VSCodium</string>
						<string>codium</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose a editor from predefined editor varieties to open the project</string>
			<key>label</key>
			<string>Code Variety</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>config_vscode_variety</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Do not touch this config in most cases</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Compared to config "Code Variety", this config has the highest priority. This config accepts a command name or a path to the command</string>
			<key>label</key>
			<string>Custom Editor Command</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>config_vscode_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Scan projects from editor recent workspace history</string>
			<key>label</key>
			<string>Scan Workspace History</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>config_scan_workspace</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>Set it to the root directory of your projects</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>A directory for automatically scanning projects</string>
			<key>label</key>
			<string>Projects Directory</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>config_projects_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>More directories for automatically scanning projects (One directory path each line)</string>
			<key>label</key>
			<string>Projects Directory (More)</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>config_more_projects_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>3</integer>
				<key>markercount</key>
				<integer>5</integer>
				<key>maxvalue</key>
				<integer>99</integer>
				<key>minvalue</key>
				<integer>1</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The max depth for scanning projects from projects root directory. This config only takes effect when the config "Projects Directory" is configured</string>
			<key>label</key>
			<string>Scan Depth for Projects</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>config_scan_depth</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Enable Scan Cache</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>config_cache_enabled</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/usr/local/bin:/opt/homebrew/bin:~/.cargo/bin:~/go/bin</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Prepend some PATH for the editor</string>
			<key>label</key>
			<string>Prepend PATH</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>prepend_path</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/hangxingliu/open-in-vscode-workflow</string>
</dict>
</plist>
